.container {
	width: 90%;
	left: 5%;
	position: relative;
	background-color: #f6f6ef;
}

.fixed-width-container {
	width: 95%;
	left: 0%;
	position: relative;
	background-color: #f6f6ef;
}

.poll {
	padding-top: 3px;
	padding-bottom: 3px;
	float: none;
	font-family: Verdana;
	vertical-align: middle;
}

.poll-content {
	margin-left: 10px;
	padding-left: 10px;
}

.button {
	float: left;
	border: 0px;
	display: inline-block;
	color: #ff6600;
	font-weight: lighter;
	line-height: inherit;
	width: 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}
.button:hover {
	color: #ffa366;
}

.refresh {
	display: none;
}

.hn-link {
	text-decoration: none;
	color: black;
	font-size: 10pt;
}

.subtext {
	color: #828282;
	font-size: 7pt;
	height: 7pt;
	font-family: Verdana;
}
.subtext-delimiter:after {
	content: "|";
	font-size: 7pt;
	font-weight: lighter;
	color: #828282;
}