.container {
	width: 90%;
	left: 5%;
	position: relative;
	background-color: #f6f6ef;
}

.fixed-width-container {
	width: 95%;
	left: 0%;
	position: relative;
	background-color: #f6f6ef;
}

.header {
	background-color: #ff6600;
	vertical-align: bottom;
	height: 20px;
	border: 0px solid white;
	padding: 4px 4px 4px 4px;
}

.logo {
	float: left;
	position: relative;
	color: white;
	border: 1px solid white;
	text-align: center;
	text-decoration: none;
	font-family: Verdana;
	font-size: 10pt;
	height: 20px;
	width: 20px;
}

.title {
	float: left;
	vertical-align: middle;
	font-weight: bold;
	font-family: Verdana;
	font-size: 10pt;
	padding: 2px 10px 5px 10px;
}

.poll {
	padding-top: 3px;
	padding-bottom: 3px;
	float: none;
	font-family: Verdana;
	vertical-align: middle;
}

.poll-content {
	margin-left: 10px;
	padding-left: 10px;
}

.button {
	float: left;
	border: 0px;
	display: inline-block;
	color: #ff6600;
	font-weight: lighter;
	line-height: inherit;
	width: 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}
.button:hover {
	color: #ffa366;
}

.refresh {
	display: none;
}

.hn-link {
	text-decoration: none;
	color: black;
	font-size: 10pt;
}
.hn-link:visited {
	text-decoration: none;
	color: #828282;
	font-size: 10pt;
}

.subtext {
	color: #828282;
	font-size: 7pt;
	height: 7pt;
	font-family: Verdana;
}
.subtext-delimiter:after {
	content: "|";
	font-size: 7pt;
	font-weight: lighter;
	color: #828282;
}

.next-page {
	position: relative;
	width: 50%;
	left: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 10pt;
	font-family: Verdana;
}

.footer {
	border-top: 2px solid #ff6600;
}