<!doctype html>
<head>
<title>HN Polls - Hackers Polls</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="http://fgnass.github.io/spin.js/spin.js"></script>
  <script type=text/javascript>
    $root_url = {{ request.base_url|tojson|safe }};
  </script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body onload="make_clickable()">
  <h1 style="text-align:center"> Under Construction </h1>
  <h2 style="text-align:center"> A site to collect all the HackerNews polls </h2>
  <div class="container">
    <div class="header">
      <div><a href="https://news.ycombinator.com" class="logo">Y</a></div>
      <div class="title">Hacker News Polls</div>
      <span class="sub-title"><a href="/submit" class="title-link">submit</span>
     </div>

    <div class="fixed-width-container">
      {% for poll in polls %}
        <div class="poll">
          <a href="#" id="{{ poll._id }}-button" class="show button">+</a>
          <a href="#" id="{{ poll._id }}-refresh" class="refresh button">&#x21bb;</a>
          <div class="poll-content">
            <span id="{{ poll._id }}-title"> <a class="hn-link" href="https://news.ycombinator.com/item?id={{ poll._id}}">{{ poll.title }}</a> </span>
            <span class="subtext"> {{ poll.votes }} points</span>
            <span class="subtext-delimiter"></span>
            <span class="subtext"> {{ poll.date_added.date() }} </span>
          </div>
          <div id="{{ poll._id }}-canvas" style="display:none" width="600" height="450"></div>
        </div>
      {% endfor %}
    </div>
    <div class="next-page">
      {% if no_more_polls %}
        <a href="/" class="hn-link"> No more polls found </a>
      {% else %}
        <a href="{{ next_page_url }}" class="hn-link">More</a>
      {% endif %}
    </div>
    <div class="footer"></div>
  </div>
</body>
</html>
